body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .navbar-nav .nav-link {
    color: white !important;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffc107 !important;
  }


  .hero-section {
    height: 100vh; /* Full-screen height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('images/IMG_8987.jpeg'); /* Path to your image */
    background-size: cover; /* Scale the image to cover the section */
    background-position: center; /* Center the image */
    color: white;
  }
  
  .hero-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-section p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .hero-section .btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
  
  
  .card {
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px  #A9A9A9;
  }
  
  footer {
    background-color: #A9A9A9;
  }
  